In [1]:
import pandas as pd
import numpy as np
import urllib.request
from bs4 import BeautifulSoup
from classes.arboVirose import *

In [2]:
Arbo_V = 'Dengue'
Linha = 'Município'
Coluna = 'Ano do Óbito'
Periodo = ['2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']

In [3]:
# linha_disp = ['Município']
# coluna_disp = ['Ano da Notificação', 'Mês da Notificação', 'Sexo', 'Fx Etária SINAN']
if Arbo_V == 'Dengue':
    # coluna_disp.append('Ano do Óbito')
    url = 'http://www3.saude.ba.gov.br/cgi/deftohtm.exe?sinan/deng.def'
elif Arbo_V == 'Chikungunya':
    url = 'http://www3.saude.ba.gov.br/cgi/deftohtm.exe?sinan/chikun.def'
else:
    url = 'http://www3.saude.ba.gov.br/cgi/deftohtm.exe?sinan/zika.def'

In [4]:
html = urllib.request.urlopen(url)
soup = BeautifulSoup(html, 'html5lib')

In [5]:
web_scrapping = arboVirose(Arbo_V.lower())

In [6]:
web_scrapping.obterInfo()

In [7]:
df = web_scrapping.obterDf(Linha, Coluna, Periodo)

In [8]:
df.head()

,Código,Município,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,290030,Acajutiba,0,0,0,0,0,0,0,0,0,1,0,0
1,290070,Alagoinhas,0,0,0,0,0,0,0,0,0,2,2,0
2,290090,Almadina,0,0,0,0,1,0,0,0,0,0,0,0
3,290100,Amargosa,0,0,1,0,0,0,0,0,1,0,0,0
4,290110,Amélia Rodrigues,0,0,0,0,1,0,0,0,0,0,0,0

In [9]:
df.iloc[:, 2:] = df.iloc[:, 2:].astype('uint32')

In [10]:
df.to_pickle('../Datasets/dengue_obitos.pkl')